:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2px;
  background-color: #000;

  width: 600px;
  height: 600px;

  border: solid 5px #000;
}

.boardField {
  background-color: #eee;
}

.boardField.dark {
  background-color: #888;
}

.pieceContainer {
  position: absolute;
  width: 12.5%;
  height: 12.5%;

  border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.pieceContainer:hover {
  background-color: #aca;
  cursor: pointer;
}
